@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #F5F5F5 !important;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    width: 100%;
}

#navbar {
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    height: 100%;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
}

#black-navbar-button {
    display: none;
}

i {
    position: relative;
    top: 3px;
    left: 5px;
}

#navbar img {
    margin-top: 30px;
    margin-bottom: 50px;
}

#navbar #icons {
    margin-bottom: 150px;
}

.ham-menu {
    margin-bottom: 150px;
}

#navbar1 {
    display: block;
    background: #fff;
    color: #333;
}

#navbar2 {
    display: none;
}

.card h3:hover,
.card h5:hover,
.card h6:hover {
    color: red !important;
}

.life-styles p:hover,
.life-styles h4:hover {
    color: red;
}

.food-and-recipe h6:hover {
    color: red !important;
}

.k2-grid h6:hover {
    color: red;
}

#first-item {
    position: absolute;
    display: none;
    left: 200px;
    z-index: 2;
}

#first-menu:hover #first-item {
    display: block;
}

#navbar .sideflow-item {
    background: #ffff;
    color: #333;
    padding: 10px 20px;
    width: 300px;
}


#content {
    z-index: 5;
    padding-right:0;
    padding-left:0;
}

.padding-0 {
    padding-right:0;
    padding-left:0;
}

.card {
    border: none !important;
}

nav {
    width: 100%;
    height: auto;
    background: #fff;
    display: inline-flexbox;
}

nav p {
    font-size: 14px;
    font-weight: 700;
}

nav input {
    border: none;
    height: 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
nav img {
    height: 10px;
    width: 20px;
    border-left: 1px solid #333;
    padding-left: 5px;
}

#second-navbar {
    margin: none !important;
    padding: none !important;
    display: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}


nav .nav-link {
    color: #000;
    font-weight: 700;
    font-size: 14px;
}

nav input::placeholder {
    margin-right: 10px;
}

.trending-post {
    background: #fff;
    width: 100%;
    margin-top: 20px;
    z-index: 1;
}

.trending-post #card1 {
    width: 100%;
    background-image: url('https://demo.smartaddons.com/templates/joomla3/sj-expnews/media/k2/items/cache/fd8b0f77d767f1f6640afba6916ff67c_M.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;
}

.trending-post .span-red {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 125px;
}

.trending-post .span-red-small {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 55px; 
}

#card2 {
    width: 100%;
    background-image: url('images/card2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;
}

#card3 {
    width: 100%;
    background-image: url('images/card3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;
}

#card4 {
    width: 100%;
    background-image: url('images/card4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;
}

#card1,
#card2,
#card3,
#card4,
#card5 h5 {
    color: #fff;
}

.stay-connected {
    background: #fff;
    width: 100%;
}

.stay-connected i {
    position: relative;
    top: 0px;
    left: 5px;
}

.stay-connected .facebook-stripe {
    display: flex;
    height: auto;
    widows: 100%;
    background: rgb(76, 128, 242);
    color: #fff;
}

.stay-connected .twitter-stripe {
    display: flex;
    height: auto;
    widows: 100%;
    background: rgb(132, 193, 240);
    color: #fff;
}

.stay-connected .google-plus-stripe {
    display: flex;
    height: auto;
    widows: 100%;
    background: rgb(145, 0, 0);
    color: #fff;
}

.stay-connected .instagram-stripe {
    display: flex;
    height: auto;
    widows: 100%;
    background: rgb(191, 62, 133);
    color: #fff;
}

.facebook-stripe i {
    position: relative;
    top: -5px;
    left: 5px;
    margin-left: 10px;
}

.twitter-stripe i {
    position: relative;
    top: -5px;
    left: 5px;
    margin-left: 10px;
}

.instagram-stripe i {
    position: relative;
    top: -5px;
    left: 5px;
    margin-left: 10px;
}

.google-plus-stripe i {
    position: relative;
    top: -5px;
    left: 5px;
    margin-left: 10px;
}

.stay-connected h5 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 18px;
}


.life-styles {
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
}

.life-styles h5 {
    font-weight: 900;
    font-size: 18px;
}

.life-styles .span-red {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 20px;
}

.life-styles .card h4 {
    font-size: 20px;
}

.card-small {
    display: inline-block;
    width: 100%;
    border: none;
  
}

.card-small p {
    font-size: 18px;
    color: #333;
}

.card-small img {
    height: 100px;
    width: 150px;
}

.life-styles .card p {
    color: gray;
    font-size: 14px;
}



.news-letter {
    height: 260px;
    width: 100%;
    background-image: url('images/newsletter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news-letter h4 {
    color: #fff;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 900;
}

.news-letter p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px;
}

.news-letter input[type='text'] {
    height: 40px;
    width: 35%;
}

.news-letter input::placeholder {
    margin: auto 30px;
}

.news-letter button  {
    border: none;
    background: red;
    padding: 8px 30px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.footer-bar {
    display: flex;
    justify-content: center;
    background: #000;
    color: #fff;
    height: auto;
    width: 100%;
}

.footer-bar a {
    margin: 20px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.footer-bar a:hover {
    text-decoration: none;
}

.world-news {
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 25px;
}

.world-news h4 {
    font-size: 19px;
}

.world-news .card {
    border: none;
}

.world-news .card img {
    width: 200px;
}

.world-news h5 {
    font-size: 16px;
    font-weight: bold;
}

.world-news .span-red {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entertainment {
    width: 100%;
    height: auto;
    background: #fff;
}

.entertainment .card {
    border: none;
}

.entertainment .card p {
    font-size: 15px;
    color: gray;
}

.entertainment .span-red {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.whats-hot {
    width: 100%;
    background: #fff;
    margin-top: 15px;
}

#whats-hot-card {
    width: 100%;
    background-image: url('images/whats-hot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;
}

.whats-hot .span-red-small {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 15px;
}

.k2-grid {
    width: 100%;
    background: #fff;
    margin-top: 15px;
}

.k2-grid .card {
    border: none;
}

.k2-grid .card img {
    width: 100%;
}

.k2-grid .card h5 {
    font-size: 18px;
}

#k2-card {
    width: 100%;
    background-image: url('images/whats-hot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;   
}

#k2-card .span-red-small {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 15px;
}

.food-and-recipe {
    width: 100%;
    height: auto;
    background: #fff;   
}

#food-card {
    width: 100%;
    background-image: url('images/food-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    color: #fff;
}

#food-card .span-red-small {
    background: red;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 15px;
}

.food-and-recipe .row img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.food-and-recipe .row h6 {
    font-weight: normal;
    margin-bottom: 15px;
}


.app-icons {
    padding-top: 25px;
    background: #000;
    color: #fff;
}

.app-icons a {
    color: #fff;
}

.app-icons p {
    font-size: 17px;
    font-weight: lighter;
    margin-top: 20px;
}

.app-icons .d-flex {
    margin-bottom: 30px;
}

.app-icons button {
    background: gray;
    padding: auto 30px;
    border: none;
    color: #fff;
}


.social-text {
    background: #000;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}


.s-box {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.s-box i {
    position: relative;
    top: -1px;
    left: 5px;
}

.s-box:hover {
    color: #fff;
}

.s-box:hover i {
    background: red;
    border-radius: 50%;
    padding: 6px 5px;
    position: relative;
}

.watch-now {
    width: 100%;
    height: auto;
    background: #fff;
}

.watch-now iframe {
    width: 100%;
    height: 300px;
}

.list {
    background: #333;
    height: 300px;
    overflow: auto;
}

.list img {
    height: 75px;
}


@media only screen and (max-width: 600px) {


    #black-navbar-button {
        display: block;
        background: #333;
        margin: 40px 50px;
    }

    #menu-btn-second {
        background: #fff;
        color: #333;
        padding: none;
    }

    #navbar {
        background: #000;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: none;
    }

    #navbar1 {
        display: none;
    }
    
    #second-navbar {
        display: block;
    }

    #navbar2 {
        display: block;
    }

    .menu-text  {
        display: none;
    }


    #navbar #icons {
        margin-bottom: 10px;
        display: none;
    }

    .social-text {
        display: block !important;
    }

    .social-text {
        display: grid;
        /*margin: 20px 45% !important;*/
        align-items: center;
        text-align: center;
    }

    #apps {
        display: block !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #apps img {
        margin-right: none !important;
        margin-bottom: 25px;
    }


    .footer-bar {
        width: 100%;
        height: auto;
        display: grid;
        text-align: center;
        margin: 10px auto;
    }

    .card-small p {
        font-size: 22px;
    }

    .s-box {
        display: block;
        margin: 10px auto;
        text-align: center;
    }

    .stay-connected p {
        display: inline-block !important;
    }

}





@media only screen and (max-width: 768px) {

    #icons {
        display: block;
    }

    .trending-post .span-red,
    .trending-post .span-red-small {
        padding: 5px 5px;
        font-size: 10px;
    }


    .world-news {
        width: 100%;
    }

}

@media only screen and (max-width: 968px) {
    nav .nav-link {
        font-weight: 400;
        font-size: 10px;
    }
}


@media only screen and (max-width: 1024px) {

    .facebook-stripe,
    .instagram-stripe,
    .twitter-stripe,
    .google-plus-stripe {
        display: grid;
        border-left: none !important;
    }



    .facebook-stripe,
    .instagram-stripe,
    .twitter-stripe,
    .google-plus-stripe p {
        display: block;
    }

}